<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mad Libs!</title>
  <meta charset="utf-8">
  <script>
    var all_texts = <%= @ml_texts.to_json %>;
    var flash = <%= flash.to_json %>;
    const username = <%= @username.to_json %>;
    console.log("This is loaded every time.");
    var state = <%= @state.to_json %>; // What should be loaded.
    var state_data = <%= @state_data.to_json %> // Info about it.
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="css/custom.css" rel="stylesheet">
</head>
<body>
<%= yield %>
<script src="js/main.js"></script>
</body>
</html>